services:
  google_ap2:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: google_ap2
    env_file:
      - .env
    volumes:
      - .:/app
    ports:
      - "7000:7000" 
      - "7001:7001" 
      - "7002:7002" 
      - "7003:7003" 
      - "7004:7004" 
